.rule-container {
	border: 1px solid #D9DADA;
 	cursor: pointer;
	width: 93%;
	padding: 20px;
	height: 20px;
}

.rule-list {
	font: 18px 'Open Sans', sans-serif;
	width: 100%;
	margin: 50px auto;
}

.list-item {
	width: 95%;
	float: left;
}

.close-button {
	width: 2%;
	float: left;
}

.expansion {
 	border-bottom: 1px solid #e0e0e0;
 	padding-top: 50px;
}